<div class="col-md-12 col-lg-3">
    <div class="list-menu">
        <ul class="list-unstyled">
            <li><a href="<%= path %>${{ main.lang }}$/usage">WorkSpace</a></li>
            <li><a href="<%= path %>${{ main.lang }}$/usage/tool">Tool Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/transform.html">Transform Tool</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/shape-transform.html">Shape Transform Tool</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/text.html">Text Tool</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/rectangle.html">Rectangle Tool</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/ellipse.html">Ellipse Tool</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/rounded-rectangle.html">Rounded Rectangle Tool</a></li>
            </ul>
            <li><a href="<%= path %>${{ main.lang }}$/usage/screen">Screen Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/tabs.html">Tabs</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/layer.html">Layer</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/align.html">Align</a></li>
            </ul>
            <li><a href="<%= path %>${{ main.lang }}$/usage/timeline">Timeline Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/frame-keyframe.html">Frame KeyFrame</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/normal-layer.html">Normal Layer</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/mask-layer.html">Mask Layer</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/motion-tweening.html">Motion Tweening</a></li>
            </ul>
            <li><a href="<%= path %>${{ main.lang }}$/usage/controller">Controller Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/stage-setting.html">Stage Setting</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/object-setting.html">Object Setting</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/transform.html">Transform</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/color-transform.html">Color Transform</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/blend-mode.html">Blend Mode</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/filters.html">Filters</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/sound.html">Sound</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/javascript.html">JavaScript</a></li>
            </ul>
        </ul>
    </div>
</div>
