<div class="col-md-12 col-lg-3">
    <nav id="sub-navbar" class="list-menu sub-navbar">
        <ul class="list-unstyled">
            <li><a href="<%= path %>${{ main.lang }}$/usage">WorkSpace</a></li>
            <li><a href="<%= path %>${{ main.lang }}$/usage/tool">Tool Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/transform.html">${{ tool-menu.tool.selection }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/shape-transform.html">${{ tool-menu.tool.shape-transform }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/pen.html">${{ tool-menu.tool.pen }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/text.html">${{ tool-menu.tool.text }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/rectangle.html">${{ tool-menu.tool.rectangle }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/ellipse.html">${{ tool-menu.tool.ellipse }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/tool/rounded-rectangle.html">${{ tool-menu.tool.rounded-rectangle }}$</a></li>
            </ul>
            <li><a href="<%= path %>${{ main.lang }}$/usage/screen">Screen Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/tabs.html">${{ tool-menu.screen.tabs }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/layer.html">${{ tool-menu.screen.layer }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/align.html">${{ tool-menu.screen.align }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/screen/distribute.html">${{ tool-menu.screen.distribute }}$</a></li>
            </ul>
            <li><a href="<%= path %>${{ main.lang }}$/usage/timeline">Timeline Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/frame-keyframe.html">${{ tool-menu.timeline.frame-keyframe }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/normal-layer.html">${{ tool-menu.timeline.normal-layer }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/mask-layer.html">${{ tool-menu.timeline.mask-layer }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/motion-tweening.html">${{ tool-menu.timeline.motion-tweening }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/custom-tweening.html">${{ tool-menu.timeline.custom-tweening }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/onion-skin.html">${{ tool-menu.timeline.onion-skin }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/preview.html">${{ tool-menu.timeline.preview }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/timeline/javascript.html">JavaScript</a></li>
            </ul>
            <li><a href="<%= path %>${{ main.lang }}$/usage/controller">Controller Area</a></li>
            <ul>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/stage-setting.html">${{ tool-menu.controller.stage }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/object-setting.html">${{ tool-menu.controller.object }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/frame-picker.html">${{ tool-menu.controller.frame-picker }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/transform.html">${{ tool-menu.controller.transform }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/color-transform.html">${{ tool-menu.controller.color-transform }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/blend-mode.html">${{ tool-menu.controller.blend-mode }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/filters.html">${{ tool-menu.controller.filters }}$</a></li>
              <li><a href="<%= path %>${{ main.lang }}$/usage/controller/sound.html">${{ tool-menu.controller.sound }}$</a></li>
            </ul>
        </ul>
        <i class="bi bi-list mobile-sub-nav-toggle"></i>
    </nav>
</div>
