<% const path = "../../"; %>
<%- include("../_include/_header", {
    "title": "tool-usage.title",
    "description": "tool-usage.description",
    "path": path,
}); %>

<%- include("_base-header", {
    "subTitle": "",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>WorkSpace</h3>
      <p class="workspace-image"><img loading="lazy" src="<%= path %>assets/img/usage/workspace.png" alt="WorkSpace"></p>
      <p>${{ tool-usage.description }}$</p>

      <h4>Tool Area</h4>
      <p>${{ tool-usage.tool.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool">${{ main.read-more }}$</a></p>

      <h4>Screen Area</h4>
      <p>${{ tool-usage.screen.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/screen">${{ main.read-more }}$</a></p>

      <h4>Timeline Area</h4>
      <p>${{ tool-usage.timeline.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline">${{ main.read-more }}$</a></p>

      <h4>Controller Area</h4>
      <p>${{ tool-usage.controller.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller">${{ main.read-more }}$</a></p>
    </div>
</div>

<%- include("_base-footer", {
    "path": path
}); %>