<% const title = "Next2D | NoCode Tool How to use | Timeline Area"; %>
<% const description = "The length of time is divided into frames. Layers are analogous to multiple film strips stacked in layers, with different objects contained in each layer appearing on stage."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "off"
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Timeline Area</h3>
      <p><%= description %></p>

      <h4>Frame KeyFrame</h4>
      <p>The length of time is divided into frames. In the timeline, these frames are manipulated to control objects. A key frame is a frame in which a new symbol instance is displayed in the timeline. Keyframes may also contain embedded code (JavaScript) that controls the object.</p>
      <p><a href="<%= path %>usage/timeline/frame-keyframe.html">read more</a></p>

      <h4>Normal Layer</h4>
      <p>Each layer is independent, so drawing or editing an object on one layer does not affect objects on other layers. In a stage area where there are no objects on a layer, you can see through the layer below. In addition, you can show/hide, lock/unlock, and rearrange layers.</p>
      <p><a href="<%= path %>usage/timeline/normal-layer.html">read more</a></p>

      <h4>Mask Layer</h4>
      <p>The mask will be applied to the layer placed under the mask layer. By activating the mask layer lock, you can check the masked drawing.</p>
      <p><a href="<%= path %>usage/timeline/mask-layer.html">read more</a></p>

      <h4>Motion Tweening</h4>
      <p>Motion tweening is a type of animation that uses symbols to create movement, size and rotation changes, fades, and color effects.</p>
      <p><a href="<%= path %>usage/timeline/motion-tweening.html">read more</a></p>

    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>