<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.timeline.title",
    "description": "tool-usage.timeline.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "subTitle": "tool-menu.timeline.title",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Timeline Area</h3>
      <p>${{ tool-usage.timeline.description }}$</p>

      <h4>${{ tool-menu.timeline.frame-keyframe }}$</h4>
      <p>${{ tool-usage.timeline.frame-keyframe.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/frame-keyframe.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.timeline.normal-layer }}$</h4>
      <p>${{ tool-usage.timeline.normal-layer.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/normal-layer.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.timeline.mask-layer }}$</h4>
      <p>${{ tool-usage.timeline.mask-layer.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/mask-layer.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.timeline.motion-tweening }}$</h4>
      <p>${{ tool-usage.timeline.motion-tweening.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/motion-tweening.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.timeline.onion-skin }}$</h4>
      <p>${{ tool-usage.timeline.onion-skin.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/onion-skin.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.timeline.preview }}$</h4>
      <p>${{ tool-usage.timeline.preview.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/preview.html">${{ main.read-more }}$</a></p>

      <h4>JavaScript</h4>
      <p>${{ tool-usage.timeline.javascript.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/timeline/javascript.html">${{ main.read-more }}$</a></p>

    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>