<% const title = "Next2D Player | Tutorial & Pocket Reference | Reference and change DisplayObject properties 'alpha'"; %>
<% const description = "A property that represents the transparency of a DisplayObject. The data type is Number and valid values are 0.0 to 1.0."; %>
<% const path = "../../"; %>

<%- include("../../_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "off"
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Reference and change DisplayObject properties "alpha".</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 12</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>alpha</h3>
            <p>A property that represents the transparency of a DisplayObject. The data type is Number and valid values are 0.0 to 1.0.</p>
            <p class="tutorial-image"><img src="<%= path %>assets/img/tutorial/alpha.svg" alt="visible image"></p>

            <h5>Example</h5>
            <p><pre>const {Shape, BitmapData} = next2d.display;
const image = new Image();
image.src = "[[image path]]";

const bitmapData = new BitmapData();
bitmapData.image = image;

// alpha 1
const shape1 = new Shape();
shape1
    .graphics
    .beginBitmapFill(bitmapData)
    .drawRect(0, 0, bitmapData.width, bitmapData.height);
shape1.alpha = 1.0;

// alpha 0.5
const shape2 = new Shape();
shape2
    .graphics
    .beginBitmapFill(bitmapData)
    .drawRect(0, 0, bitmapData.width, bitmapData.height);
shape2.alpha = 0.5;</pre></p>

            <p><a class="float-end read-more" href="13.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>