<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.controller.title",
    "description": "tool-usage.controller.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "subTitle": "tool-menu.controller.title",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Controller Area</h3>
      <p>${{ tool-usage.controller.description }}$</p>

      <h4>${{ tool-menu.controller.stage }}$</h4>
      <p>${{ tool-usage.controller.stage-setting.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/stage-setting.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.controller.object }}$</h4>
      <p>${{ tool-usage.controller.object-setting.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/object-setting.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.controller.transform }}$</h4>
      <p>${{ tool-usage.controller.transform.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/transform.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.controller.color-transform }}$</h4>
      <p>${{ tool-usage.controller.color-transform.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/color-transform.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.controller.blend-mode }}$</h4>
      <p>${{ tool-usage.controller.blend-mode.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/blend-mode.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.controller.filters }}$</h4>
      <p>${{ tool-usage.controller.filters.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/filters.html">${{ main.read-more }}$</a></p>

      <h4>Library</h4>
      <p>${{ tool-usage.controller.library.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/library.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.controller.sound }}$</h4>
      <p>${{ tool-usage.controller.sound.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/controller/sound.html">${{ main.read-more }}$</a></p>

      <h4>JavaScript</h4>
      <p>${{ tool-usage.controller.javascript.description }}$</p>
    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>