<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.screen.title",
    "description": "tool-usage.screen.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "subTitle": "tool-menu.screen.title",
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Screen Area</h3>
      <p>${{ tool-usage.screen.description }}$</p>

      <h4>${{ tool-menu.screen.tabs }}$</h4>
      <p>${{ tool-usage.screen.tabs.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/screen/tabs.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.screen.layer }}$</h4>
      <p>${{ tool-usage.screen.layer.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/screen/layer.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.screen.align }}$</h4>
      <p>${{ tool-usage.screen.align.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/screen/align.html">${{ main.read-more }}$</a></p>

      <h4>${{ tool-menu.screen.distribute }}$</h4>
      <p>${{ tool-usage.screen.distribute.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/screen/distribute.html">${{ main.read-more }}$</a></p>

    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>
