<% const title = "Next2D | Rendering Engine, NoCode Tool, Underlying Framework."; %>
<% const description = "Next2D libraries and tool. Rendering Engine, NoCode Tool, Underlying Framework. 2D entertainment development made easy! Fast! Comfortable!"; %>
<% const path = "./"; %>

<%- include("./_include/_header", {
    "title": title,
    "description": description,
    "path": path,
    "player": "on"
}); %>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-in">
        <h1>Next2D</h1>
        <h2>2D entertainment development made easy! Fast! Comfortable!</h2>
        <div data-aos="zoom-out" data-aos-delay="100" id="next2d"></div>
        <script type="text/javascript">
          next2d.load("assets/js/sample.json", { "tagId": "next2d", "bgColor": false });
        </script>
        <a href="#get-started" class="btn scrollto">Get Started</a>
      </div>
    </section><!-- End Hero Section -->

    <main id="main">

      <!-- ======= Get Started Section ======= -->
      <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Next2D libraries and tool.</h2>
            <p class="separator">Rendering Engine, NoCode Tool, Underlying Framework.</p>
          </div>
        </div>

        <div class="container">

          <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="feature-block">
                <img loading="lazy" src="assets/img/player/logo.svg" width="60px" height="60px" alt="Player">
                <h4>Player</h4>
                <p>It is a library that fully supports WebGL, allowing you to create rich, interactive graphics, cross-platform applications, and games without having to deal with browser or device compatibility.</p>
                <a class="scrollto" href="#player">read more</a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="feature-block">
                <img loading="lazy" src="assets/img/tool/logo.svg" width="60px" height="60px" alt="NoCode Tool">
                <h4>NoCode Tool</h4>
                <p>This is an authoring tool that runs on a web browser, mainly for NoCode development, You can intuitively create the animation you have imagined, and the exported data can be easily published by uploading it to the Web.</p>
                <a class="scrollto" href="#tool">read more</a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="feature-block">
                <img loading="lazy" src="assets/img/framework/logo.svg" width="60px" height="60px" alt="Framework">
                <h4>Framework</h4>
                <p>MVVM architecture is adopted. It supports efficient development for individuals and teams, regardless of scale, using modern development methods.</p>
                <a class="scrollto" href="#framework">read more</a>
              </div>
            </div>

          </div>
        </div>
      </section><!-- End Get Started Section -->

      <!-- ======= Get Started Section ======= -->
      <section id="roadmap" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Roadmap</h2>
          </div>
        </div>

        <div class="container">

          <div class="row">

            <div class="col-md-12 col-lg-12" data-aos="zoom-in" data-aos-delay="100">
              <div class="feature-block">
                <img loading="lazy" src="assets/img/roadmap.svg" alt="Develop Roadmap">
              </div>
            </div>

          </div>
        </div>
      </section><!-- End Get Started Section -->

<%- include("./_include/_player", {
    "path": path
}); %>

<%- include("./_include/_tool", {
    "path": path
}); %>

<%- include("./_include/_framework", {
    "path": path
}); %>

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="padd-section">

          <div class="container" data-aos="fade-up">

            <div class="section-title text-center">
              <h2>Contact</h2>
              <p class="separator">Please feel free to contact us.</p>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

              <div class="col-md-6 offset-md-3">

                <div class="info">
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <p>developer@next2d.app</p>
                  </div>
                </div>

                <div class="social-links">
                  <a href="https://twitter.com/Next2D" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="https://github.com/Next2D" class="github"><i class="bi bi-github"></i></a>
                  <a href="https://discord.gg/6c9rv5Uns5" class="discord"><i class="bi bi-discord"></i></a>
                </div>

              </div>

            </div>
          </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

<%- include("./_include/_footer", { "path": path }); %>