<% const title = "Next2D | Rendering Engine, NoCode Tool, Underlying Framework."; %>
<% const description = "Next2D libraries and tool. Rendering Engine, NoCode Tool, Underlying Framework. 2D entertainment development made easy! Fast! Comfortable!"; %>
<% const path = "./"; %>

<%- include("./_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container" data-aos="fade-in">
        <h1>Next2D</h1>
        <h2>2D entertainment development made easy! Fast! Comfortable!</h2>
        <div data-aos="zoom-out" data-aos-delay="100" id="next2d"></div>
        <script type="text/javascript">
          next2d.load("assets/js/sample.json", { "tagId": "next2d", "bgColor": false });
        </script>
        <a href="#get-started" class="btn scrollto">Get Started</a>
      </div>
    </section><!-- End Hero Section -->

    <main id="main">

      <!-- ======= Get Started Section ======= -->
      <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Next2D libraries and tool.</h2>
            <p class="separator">Rendering Engine, NoCode Tool, Underlying Framework.</p>
          </div>
        </div>

        <div class="container">
          <div class="row">

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="feature-block">
                <img src="assets/img/player/logo.png" alt="img">
                <h4>Player</h4>
                <p>It is a library that fully supports WebGL, allowing you to create rich, interactive graphics, cross-platform applications, and games without having to deal with browser or device compatibility.</p>
                <a class="scrollto" href="#player">read more</a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="feature-block">
                <img src="assets/img/tool/logo.png" alt="img">
                <h4>NoCode Tool</h4>
                <p>An animation creation tool based mainly on NoCode development, You can intuitively create the animation you have imagined, and the exported data can be easily published by uploading it to the web.</p>
                <a class="scrollto" href="#tool">read more</a>
              </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="feature-block">
                <img src="assets/img/framework/logo.png" alt="img">
                <h4>Framework</h4>
                <p>MVVM architecture is adopted. It supports efficient development for individuals and teams, regardless of scale, using modern development methods.</p>
                <a class="scrollto" href="#framework">read more</a>
              </div>
            </div>

          </div>
        </div>
      </section><!-- End Get Started Section -->

      <!-- ======= Player Section ======= -->
      <section id="player" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Player Features.</h2>
            <p class="separator">Aims to provide a fast 2D player.</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/7985345.png" alt="img">
                <h4>Open Source</h4>
                <p>Next2D Player is available free of charge as open source software for personal and commercial use.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/7504267.png" alt="img">
                <h4>Fast</h4>
                <p>Experience lightweight, fast, and beautiful anti-aliased rendering.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/6323764.png" alt="img">
                <h4>Full WebGL support</h4>
                <p>emulation technology of "swf2js" is ported to realize Flash-like rendering of Filter, Shape, etc. in WebGL.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/3666006.png" alt="img">
                <h4>Various Text Functions</h4>
                <p>Various text features such as fixed text, dynamic text input, and HTML text are included.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/8267133.png" alt="img">
                <h4>Multi-Platform Support</h4>
                <p>Deliver interactive and visually appealing content from desktop to mobile with a single code base.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/chrome.svg" alt="chrome">
                <img src="assets/img/player/firefox.svg" alt="firefox">
                <img src="assets/img/player/safari.svg" alt="safari">
                <img src="assets/img/player/edge.svg" alt="edge">
                <h4>Browser Support</h4>
                <p>It is interoperable with the latest desktop and mobile browsers and has been thoroughly tested to deliver performance and reliability across the widest possible range of browsers.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/1554390.png" alt="img">
                <h4>API</h4>
                <p>Extensive documentation, sample code, and tutorials for initial introduction make it easy for new and old developers to get up to speed quickly.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/player/5023026.png" alt="img">
                <img src="assets/img/player/6478235.png" alt="img">
                <h4>MP3/MP4</h4>
                <p>Supports reading audio and video, including MP3 and MP4.</p>
              </div>
            </div>

          </div>

          <nav class="feature-nav">
            <ul class="list-unstyled">
              <li><a href="https://github.com/Next2D/Player/releases" class="btn"><i class="bi bi-github"></i> Download</a></li>
              <li><a href="<%= path %>docs/player" class="btn"><i class="bi bi-book"></i> API Docs</a></li>
<!--              <li><a href="<%= path %>examples/player" class="btn"><i class="bi bi-code-slash"></i> Example</a></li>-->
<!--              <li><a href="<%= path %>tutorials/player" class="btn"><i class="bi bi-book-half"></i> Tutorial</a></li>-->
            </ul>
          </nav>

        </div>
      </section><!-- End Features Section -->

      <!-- ======= NoCode Tool Section ======= -->
      <section id="tool" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>NoCode Tool Features.</h2>
            <p class="separator">2D entertainment development made easy! Fast! Comfortable.</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/3071822.png" alt="img">
                <h4>No Code</h4>
                <p>You can intuitively create the animations you envision without writing code.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/2542719.png" alt="img">
                <h4>No installation required</h4>
                <p>It is a web service that can be used immediately by anyone who accesses it.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/1754305.png" alt="img">
                <h4>Transform</h4>
                <p>Using the mouse, you can easily move the content up, down, left, right, transform, zoom in and out, rotate, etc., and add and subtract colors.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/2965516.png" alt="img">
                <h4>Blend Mode</h4>
                <p>Visual effects such as addition, subtraction, multiplication, and inversion can be easily manipulated with the mouse.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/3123818.png" alt="img">
                <h4>Filter</h4>
                <p>Filters such as blur, glow, drop shadow, and gradient can be easily added with the mouse, and layers are supported.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/4986745.png" alt="img">
                <h4>Easing</h4>
                <p>The easing function allows you to make your animations more realistic and dynamic.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/5023017.png" alt="img">
                <img src="assets/img/tool/6478235.png" alt="img">
                <h4>Output</h4>
                <p>Can be exported to JSON and MP4.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/tool/123979.png" alt="img">
                <h4>SWF</h4>
                <p>Although it is simple, it is also possible to read SWF files.</p>
              </div>
            </div>

          </div>

          <p>in preparation</p>

<!--          <nav class="feature-nav">-->
<!--            <ul class="list-unstyled">-->
<!--              <li><a href="https://tool.next2d.app" class="btn"><i class="bi bi-cloud"></i> Web Site(α)</a></li>-->
<!--              <li><a href="<%= path %>tips" class="btn"><i class="bi bi-book"></i> Tips</a></li>-->
<!--              <li><a href="<%= path %>tutorials/tool" class="btn"><i class="bi bi-book-half"></i> Tutorial</a></li>-->
<!--            </ul>-->
<!--          </nav>-->

        </div>
      </section><!-- End Features Section -->

      <!-- ======= Framework Section ======= -->
      <section id="framework" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Framework Features.</h2>
            <p class="separator">Support systematic team development.</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/framework/7985345.png" alt="img">
                <h4>Open Source</h4>
                <p>Next2D Framework is available free of charge as open source software for personal and commercial use.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3">
              <div class="feature-block">
                <img src="assets/img/framework/6207258.png" alt="img">
                <h4>in preparation</h4>
                <p>It is currently in production.</p>
              </div>
            </div>

          </div>

          <p>in preparation</p>
  <!--        <nav class="feature-nav">-->
  <!--          <ul class="list-unstyled">-->
  <!--            <li><a href="https://github.com/Next2D/Framework/releases" class="btn"><i class="bi bi-github"></i> Download</a></li>-->
  <!--            <li><a href="<%= path %>docs/framework" class="btn"><i class="bi bi-book"></i> API Docs</a></li>-->
  <!--            <li><a href="<%= path %>examples/framework" class="btn"><i class="bi bi-code-slash"></i> Example</a></li>-->
  <!--            <li><a href="<%= path %>tutorials/framework" class="btn"><i class="bi bi-book-half"></i> Tutorial</a></li>-->
  <!--          </ul>-->
  <!--        </nav>-->

        </div>
      </section><!-- End Features Section -->

    </main><!-- End #main -->

<%- include("./_include/_footer", { "path": path }); %>