<% const title = "Next2D | Rendering Engine, NoCode Tool, Underlying Framework."; %>
<% const path = "../"; %>

<%- include("./_include/_header", {
    "title": title,
    "path": path
}); %>

    <main id="main">

      <!-- ======= Get Started Section ======= -->
      <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>${{ main.title }}$</h2>
            <p class="separator">${{ main.description }}$</p>
          </div>
        </div>

        <div class="container">

          <div class="row text-center top-image">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="0">
                <img loading="lazy" class="img-fluid" src="<%= path %>assets/img/image.png" width="600" title="Next2D Project Image">
            </div>
          </div>

          <div class="row">

            <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="feature-block">
                <img loading="lazy" src="<%= path %>assets/img/player/logo.svg" width="60px" height="60px" alt="Player">
                <h4>Player</h4>
                <p>${{ main.player-description }}$</p>
                <a class="scrollto" href="#player">${{ main.read-more }}$</a>
              </div>
            </div>

            <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="feature-block">
                <img loading="lazy" src="<%= path %>assets/img/tool/logo.svg" width="60px" height="60px" alt="NoCode Tool">
                <h4>NoCode Tool</h4>
                <p>${{ main.tool-description }}$</p>
                <a class="scrollto" href="#tool">${{ main.read-more }}$</a>
              </div>
            </div>

            <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="feature-block">
                <img loading="lazy" src="<%= path %>assets/img/framework/logo.svg" width="60px" height="60px" alt="Framework">
                <h4>Framework</h4>
                <p>${{ main.framework-description }}$</p>
                <a class="scrollto" href="#framework">${{ main.read-more }}$</a>
              </div>
            </div>

          </div>
        </div>
      </section><!-- End Get Started Section -->

      <!-- ======= Get Started Section ======= -->
      <section id="roadmap" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Roadmap</h2>
          </div>
        </div>

        <div class="container">

          <div class="row">

            <div class="col-md-12 col-lg-12" data-aos="zoom-in" data-aos-delay="100">
              <div class="feature-block">
                <img loading="lazy" class="img-fluid" src="<%= path %>assets/img/roadmap.svg" alt="Develop Roadmap" width="70vw">
              </div>
            </div>

          </div>
        </div>
      </section><!-- End Get Started Section -->

<%- include("./_include/_player", {
    "path": path
}); %>

<%- include("./_include/_tool", {
    "path": path
}); %>

<%- include("./_include/_framework", {
    "path": path
}); %>

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="padd-section">

          <div class="container" data-aos="fade-up">

            <div class="section-title text-center">
              <h2>Contact</h2>
              <p class="separator">${{ main.contact }}$</p>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

              <div class="col-md-6 offset-md-3">

                <div class="info">
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <p>developer@next2d.app</p>
                  </div>
                </div>

                <div class="social-links">
                  <a href="https://twitter.com/Next2D" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="https://github.com/Next2D" class="github"><i class="bi bi-github"></i></a>
                  <a href="https://discord.gg/6c9rv5Uns5" class="discord"><i class="bi bi-discord"></i></a>
                </div>

              </div>

            </div>
          </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

<%- include("./_include/_footer", {
    "path": path
}); %>