<% const path = "../"; %>
<%- include("./_include/_header", {
    "title": "header.title",
    "description": "header.description",
    "path": path
}); %>

    <main id="main">

      <!-- ======= Get Started Section ======= -->
      <section id="get-started" class="padd-section text-center">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>${{ main.title }}$</h2>
            <p class="separator">${{ main.description }}$</p>
          </div>
        </div>

        <div class="container">

          <div class="row text-center top-image">
            <div class="col-md-12" data-aos="zoom-in" data-aos-delay="0">
                <img loading="lazy" class="img-fluid" src="<%= path %>assets/img/image.png" width="600" title="Next2D Project Image">
            </div>
          </div>

          <div class="row">

            <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="feature-block">
                <img loading="lazy" src="<%= path %>assets/img/player/logo.svg" width="60px" height="60px" alt="Player">
                <h4>Player</h4>
                <p>${{ main.player-description }}$</p>
                <a class="scrollto" href="#player">${{ main.read-more }}$</a>
              </div>
            </div>

            <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="feature-block">
                <img loading="lazy" src="<%= path %>assets/img/tool/logo.svg" width="60px" height="60px" alt="NoCode Tool">
                <h4>Animation Tool</h4>
                <p>${{ main.tool-description }}$</p>
                <a class="scrollto" href="#tool">${{ main.read-more }}$</a>
              </div>
            </div>

            <div class="col-md-4 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="feature-block">
                <img loading="lazy" src="<%= path %>assets/img/framework/logo.svg" width="60px" height="60px" alt="Framework">
                <h4>Framework</h4>
                <p>${{ main.framework-description }}$</p>
                <a class="scrollto" href="#framework">${{ main.read-more }}$</a>
              </div>
            </div>

          </div>
        </div>
      </section><!-- End Get Started Section -->

<%- include("./_include/_casestudy", {
    "path": path
}); %>

<%- include("./_include/_player", {
    "path": path
}); %>

<%- include("./_include/_tool", {
    "path": path
}); %>

<%- include("./_include/_framework", {
    "path": path
}); %>

<%- include("./_include/_contributor", {
    "path": path
}); %>

<%- include("./_include/_contact", {
    "path": path
}); %>

    </main><!-- End #main -->

<%- include("./_include/_footer", {
    "path": path
}); %>
