<!-- ======= Case Studies Section ======= -->
<section id="casestudy" class="padd-section">

    <div class="container" data-aos="fade-up">
  
      <div class="section-title text-center">
        <h2>${{ main.case-studies }}$</h2>
      </div>
  
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <!-- <div class="col-md-6 col-lg-3">
          <a href="./casestudy/worldflipper">
            <div class="feature-block">
              <div class="text-center">
                <img class="casestudy-img" loading="lazy" src="<%= path %>assets/img/casestudy/worldflipper/logo.jpeg" alt="WORLD FLIPPER">
                <h4>WORLD FLIPPER</h4>
              </div>
              <div class="casestudy-tool-block">
                <div class="casestudy-tool">
                  <i><img src="<%= path %>assets/img/tool/logo.svg" alt="Animation Tool"></i>
                  Animation Tool
                </div>
              </div>
              <div class="casestudy-creator-block">
                ${{ main.read-more }}$
              </div>
            </div>
          </a>
        </div> -->
        
        <div class="col-md-6 col-lg-3"> 
          <a href="./casestudy/slimetenpuzzle/">
            <div class="feature-block">
              <div class="text-center">
                <img class="casestudy-img" loading="lazy" src="<%= path %>assets/img/casestudy/slimetenpuzzle/logo.png" alt="Slime Ten Puzzle">
                <h4>Slime Ten Puzzle</h4>
              </div>
              <div class="casestudy-tool-block">
                <div class="casestudy-tool">
                  <i><img src="<%= path %>assets/img/player/logo.svg" alt="Player"></i>
                  ${{ main.player }}$
                </div>
                <div class="casestudy-tool">
                  <i><img src="<%= path %>assets/img/tool/logo.svg" alt="Animation Tool"></i>
                  ${{ main.tool }}$
                </div>
                <div class="casestudy-tool">
                  <i><img src="<%= path %>assets/img/framework/logo.svg" alt="Framework"></i>
                  ${{ main.framework }}$
                </div>
              </div>
              <div class="casestudy-creator-block">
                ${{ main.read-more }}$
              </div>
            </div>
          </a>
        </div>
  
      </div>
    </div>
  </section><!-- End Contact Section -->