    <!-- ======= Footer ======= -->
    <footer class="footer" data-aos="fade-up">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-4">
            <div class="footer-logo">

              <a class="navbar-brand" href="<%= path %>">Next2D</a>
              <p>
                Next2D, a project derived from the JavaScript FlashPlayer "swf2js", aims to provide the fastest 2D engine that works on any device.<br>
                Created by Toshiyuki Ienaga.
              </p>

            </div>

            <div class="list-sns-menu">
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/ienagatoshiyuki"><i class="bi bi-twitter"></i></a></li>
                <li><a href="https://github.com/ienaga"><i class="bi bi-github"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>Player</h4>

              <ul class="list-unstyled">
                <li><a href="https://github.com/Next2D/Player">GitHub</a></li>
                <li><a href="<%= path %>docs/player">API Docs</a></li>
                <li><a href="<%= path %>tutorials/player">Tutorial & Reference</a></li>
                <li><a href="<%= path %>#player">Features</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>Tool</h4>

              <ul class="list-unstyled">
                <li><a href="https://tool.next2d.app">Web Site</a></li>
                <li><a href="<%= path %>usage">Usage</a></li>
                <li><a href="<%= path %>#tool">Features</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>Framework</h4>

              <ul class="list-unstyled">
                <li><a href="https://github.com/Next2D/Framework">GitHub</a></li>
                <li><a href="<%= path %>#framework">Features</a></li>
<!--                 <li><a href="<%= path %>docs/framework">API Docs</a></li> -->
<!--                 <li><a href="<%= path %>examples/framework">Examples</a></li> -->
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">
                <h4>About US</h4>

                <ul class="list-unstyled">
                    <li><a href="<%= path %>#contact">Contact</a></li>
                    <li><a href="<%= path %>privacy">Privacy Policy</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyrights">
        <div class="container">
          <p>&copy; Copyrights Next2D. All rights reserved.</p>
        </div>
      </div>

    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="<%= path %>assets/vendor/aos/aos.js"></script>
    <script src="<%= path %>assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="<%= path %>assets/js/main.min.js"></script>

  </body>
</html>