    <!-- ======= Footer ======= -->
    <footer class="footer" data-aos="fade-up">
      <div class="container">
        <div class="row">

          <div class="col-md-12 col-lg-4">
            <div class="footer-logo">

              <a class="navbar-brand" href="<%= path %>${{ main.lang }}$">Next2D</a>
              <p>
                ${{ footer.description }}$<br>
                Created by Toshiyuki Ienaga.
              </p>

            </div>

            <div class="list-sns-menu">
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/ienagatoshiyuki" target="_blank"><i class="bi bi-twitter"></i></a></li>
                <li><a href="https://github.com/ienaga" target="_blank"><i class="bi bi-github"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>${{ main.player }}$</h4>

              <ul class="list-unstyled">
                <li><a href="https://github.com/Next2D/Player" target="_blank">GitHub</a></li>
                <li><a href="<%= path %>${{ main.lang }}$/reference/player">${{ main.reference-title }}$</a></li>
                <li><a href="<%= path %>${{ main.lang }}$/#player">${{ main.features-title }}$</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>${{ main.tool }}$</h4>

              <ul class="list-unstyled">
                <li><a href="https://tool.next2d.app" target="_blank">Web Site</a></li>
                <li><a href="<%= path %>${{ main.lang }}$/usage">${{ main.usage-title }}$</a></li>
                <li><a href="https://www.youtube.com/channel/UCKWvYSKSa8huzkr9T6GAPUw/videos" target="_blank">YouTube</a></li>
                <li><a href="https://github.com/Next2D/tool.next2d.app/tree/develop" target="_blank">GitHub</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">

              <h4>${{ main.framework }}$</h4>

              <ul class="list-unstyled">
                <li><a href="https://github.com/Next2D/Framework" target="_blank">GitHub</a></li>
                <li><a href="<%= path %>${{ main.lang }}$/#framework">${{ main.features-title }}$</a></li>
              </ul>

            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-2">
            <div class="list-menu">
                <h4>${{main.about-us}}$</h4>

                <ul class="list-unstyled">
                    <li><a href="<%= path %>${{ main.lang }}$/#contact">${{ main.contact-title }}$</a></li>
                    <li><a href="<%= path %>${{ main.lang }}$/privacy">${{ policy.title }}$</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="copyrights">
        <div class="container">
          <p>&copy; Copyrights Next2D. All rights reserved.</p>
        </div>
      </div>

    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="<%= path %>assets/vendor/aos/aos.js"></script>
    <script src="<%= path %>assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="<%= path %>assets/js/main.min.js"></script>

  </body>
</html>
