<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title><%= title %></title>
    <meta content="<%= description %>" name="description">
    <meta content="Next2D,Next2D Player,NoCode Tool,Next2D Framework" name="keywords">

    <!-- OGP -->
    <meta property="og:title" content="Next2D | Rendering Engine, NoCode Tool, Underlying Framework." />
    <meta property="og:site_name" content="Next2D | Rendering Engine, NoCode Tool, Underlying Framework." />
    <meta property="og:description" content="Next2D libraries and tool. Rendering Engine, NoCode Tool, Underlying Framework. 2D entertainment development made easy! Fast! Comfortable!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://next2d.app" />
    <meta property="og:image" content="https://next2d.app/assets/img/ogp/image.png" />

    <!-- Favicons -->
    <link href="<%= path %>assets/img/favicon.png" rel="icon">
    <link href="<%= path %>assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="<%= path %>assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="<%= path %>assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= path %>assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="<%= path %>assets/css/main.min.css" rel="stylesheet">

    <script src="<%= path %>assets/js/next2d.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8GJWF4S3RH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", "G-8GJWF4S3RH");
    </script>

  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
          <a href="<%= path %>"><img src="<%= path %>assets/img/logo.png" alt="Next2D Rendering Engine, NoCode Tool, Underlying Framework." title="Next2D Rendering Engine, NoCode Tool, Underlying Framework." /></a>
        </div>

        <nav id="navbar" class="navbar">
          <ul class="list-unstyled">
            <li><a class="nav-link scrollto active" href="<%= path %>#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="<%= path %>#get-started">About</a></li>
            <li><a class="nav-link scrollto" href="<%= path %>#player">Player</a></li>
            <li><a class="nav-link scrollto" href="<%= path %>#tool">NoCode Tool</a></li>
            <li><a class="nav-link scrollto" href="<%= path %>#framework">Framework</a></li>
<!--             <li class="dropdown"><a href="#"><span>API Docs</span> <i class="bi bi-chevron-down"></i></a> -->
<!--               <ul> -->
<!--                 <li><a href="<%= path %>docs/player">Player</a></li> -->
<!--                 <li><a href="<%= path %>docs/framework">Framework</a></li> -->
<!--               </ul> -->
<!--             </li> -->
<!--             <li class="dropdown"><a href="#"><span>Examples</span> <i class="bi bi-chevron-down"></i></a> -->
<!--               <ul> -->
<!--                  <li><a href="<%= path %>examples/player">Player</a></li> -->
<!--                  <li><a href="<%= path %>examples/framework">Framework</a></li> -->
<!--               </ul> -->
<!--             </li> -->
<!--             <li class="dropdown"><a href="#"><span>Tutorial</span> <i class="bi bi-chevron-down"></i></a> -->
<!--               <ul> -->
<!--                  <li><a href="<%= path %>tutorials/player">Player</a></li> -->
<!--                  <li><a href="<%= path %>tutorials/tool">NoCode Tool</a></li> -->
<!--                  <li><a href="<%= path %>tutorials/framework">Framework</a></li> -->
<!--               </ul> -->
<!--             </li> -->
            <li><a class="nav-link" href="https://discord.gg/6c9rv5Uns5"><i class="bi bi-discord"></i> Discord</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div>
    </header><!-- End Header -->