<!-- ======= NoCode Tool Section ======= -->
<section id="tool" class="padd-section text-center">

<div class="container" data-aos="fade-up">
  <div class="section-title text-center">
    <h2>${{ tool.title }}$</h2>
    <img src="<%= path %>assets/img/tool/logo.svg" width="100px" height="100px" alt="Next2D NoCode Tool">
    <p class="separator">${{ tool.description }}$</p>
  </div>

  <div class="row" data-aos="fade-up" data-aos-delay="100">

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-01.svg" width="60px" height="60px" alt="No Code">
        <h4>${{ tool.feature1-title }}$</h4>
        <p>${{ tool.feature1-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-02.svg" width="60px" height="60px" alt="No installation required">
        <h4>${{ tool.feature2-title }}$</h4>
        <p>${{ tool.feature2-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-03.svg" width="60px" height="60px" alt="Transform">
        <h4>${{ tool.feature3-title }}$</h4>
        <p>${{ tool.feature3-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-04.svg" width="60px" height="60px" alt="Blend Mode">
        <h4>${{ tool.feature4-title }}$</h4>
        <p>${{ tool.feature4-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-05.svg" width="60px" height="60px" alt="Filter">
        <h4>${{ tool.feature5-title }}$</h4>
        <p>${{ tool.feature5-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-06.svg" width="60px" height="60px" alt="Easing">
        <h4>${{ tool.feature6-title }}$</h4>
        <p>${{ tool.feature6-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-07.svg" width="60px" height="60px" alt="JSON">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-08.svg" width="60px" height="60px" alt="WEBM">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-09.svg" width="60px" height="60px" alt="GIF">
        <h4>${{ tool.feature7-title }}$</h4>
        <p>${{ tool.feature7-description }}$</p>
      </div>
    </div>

    <div class="col-md-6 col-lg-3">
      <div class="feature-block">
        <img loading="lazy" src="<%= path %>assets/img/tool/feature-10.svg" width="60px" height="60px" alt="SWF">
        <h4>${{ tool.feature8-title }}$</h4>
        <p>${{ tool.feature8-description }}$</p>
      </div>
    </div>

  </div>

  <nav class="feature-nav">
    <ul class="list-unstyled">
      <li><a href="https://tool.next2d.app" class="btn"><i class="bi bi-cloud"></i> Web Site</a></li>
      <li><a href="<%= path %>${{ main.lang }}$/usage" class="btn"><i class="bi bi-lightbulb"></i> ${{ main.usage-title }}$</a></li>
      <li><a href="https://www.youtube.com/channel/UCKWvYSKSa8huzkr9T6GAPUw/videos" class="btn"><i class="bi bi-youtube"></i> YouTube</a></li>
    </ul>
  </nav>

</div>
</section><!-- End NoCode Tool -->
