<% const title = "Next2D | Documentation"; %>
<% const description = "Next2D Documentation"; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Examples</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li>Examples</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Get Started Section ======= -->
    <section id="examples" class="padd-section text-center">
        <div class="container padd-section">
            <div class="row">

                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="feature-block">
                        <img src="<%= path %>assets/img/player/logo.png" alt="img">
                        <h4>Player</h4>
                        <p>It is a library that fully supports WebGL, allowing you to create rich, interactive graphics, cross-platform applications, and games without having to deal with browser or device compatibility.</p>
                        <a href="player">learn more</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="feature-block">
                        <img src="<%= path %>assets/img/framework/logo.png" alt="img">
                        <h4>Framework</h4>
                        <p>MVVM Architect, In preparation.</p>
                        <p>in preparation</p>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Get Started Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>