<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "tool-usage.tool.title",
    "description": "tool-usage.tool.description",
    "path": path,
}); %>

<%- include("../_base-header", {
    "path": path
}); %>

<div class="col-md-12 col-lg-9">
    <div>
      <h3>Tool Area</h3>
      <p>${{ tool-usage.tool.description }}$</p>

      <h4><i id="transform-tool"></i>${{ tool-menu.tool.selection }}$</h4>
      <p>${{ tool-usage.tool.transform.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/transform.html">${{ main.read-more }}$</a></p>

      <h4><i id="shape-transform-tool"></i>${{ tool-menu.tool.shape-transform }}$</h4>
      <p>${{ tool-usage.tool.shape-transform.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/shape-transform.html">${{ main.read-more }}$</a></p>

      <h4><i id="pen-tool"></i>${{ tool-menu.tool.pen }}$</h4>
      <p>${{ tool-usage.tool.pen.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/pen.html">${{ main.read-more }}$</a></p>

      <h4><i id="text-tool"></i>${{ tool-menu.tool.text }}$</h4>
      <p>${{ tool-usage.tool.text.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/text.html">${{ main.read-more }}$</a></p>

      <h4><i id="rectangle-tool"></i>${{ tool-menu.tool.rectangle }}$</h4>
      <p>${{ tool-usage.tool.rectangle.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/rectangle.html">${{ main.read-more }}$</a></p>

      <h4><i id="ellipse-tool"></i>${{ tool-menu.tool.ellipse }}$</h4>
      <p>${{ tool-usage.tool.ellipse.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/ellipse.html">${{ main.read-more }}$</a></p>

      <h4><i id="rounded-rectangle-tool"></i>${{ tool-menu.tool.rounded-rectangle }}$</h4>
      <p>${{ tool-usage.tool.rounded-rectangle.description }}$</p>
      <p><a href="<%= path %>${{ main.lang }}$/usage/tool/rounded-rectangle.html">${{ main.read-more }}$</a></p>

      <h4><i id="loading-project-data"></i>${{ tool-usage.tool.loading.title }}$</h4>
      <p>${{ tool-usage.tool.loading.description }}$</p>

      <h4><i id="save-project-data"></i>${{ tool-usage.tool.save.title }}$</h4>
      <p>${{ tool-usage.tool.save.description }}$</p>

      <h4><i id="export-tool"></i>${{ tool-usage.tool.export.title }}$</h4>
      <p>${{ tool-usage.tool.export.description }}$</p>

      <h4><i id="setting-tool"></i>${{ tool-usage.tool.setting.title }}$</h4>
      <p>${{ tool-usage.tool.setting.description }}$</p>

      <h4>- Layers</h4>
      <p>
        <h5>${{ tool-usage.tool.setting.title1 }}$</h5>
        <p>${{ tool-usage.tool.setting.description1 }}$</p>

        <h5>${{ tool-usage.tool.setting.title2 }}$</h5>
        <p>${{ tool-usage.tool.setting.description2 }}$</p>
      </p>

      <h4>- Output</h4>
      <p>
        <h5>${{ tool-usage.tool.setting.title3 }}$</h5>
        <p>${{ tool-usage.tool.setting.description3 }}$</p>

        <h5>${{ tool-usage.tool.setting.title4 }}$</h5>
        <p>${{ tool-usage.tool.setting.description4 }}$</p>

        <h5>${{ tool-usage.tool.setting.title5 }}$</h5>
        <p>${{ tool-usage.tool.setting.description5 }}$</p>

        <h5>${{ tool-usage.tool.setting.title6 }}$</h5>
        <p>${{ tool-usage.tool.setting.description6 }}$</p>
      </p>

      <h4>- Language</h4>
      <p>${{ tool-usage.tool.setting.language }}$</p>

    </div>
</div>

<%- include("../_base-footer", {
    "path": path
}); %>