<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "worldflipper.title",
    "description": "worldflipper.description",
    "path": path
}); %>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$">${{ navbar.home }}$</a></li>
                    <li>${{ worldflipper.title }}$</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="case-example">
        <div class="container" data-aos="fade-up">

            <div class="section-title text-center">
                <h2>${{ worldflipper.case-study }}$</h2>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-md-10 col-lg-10" data-aos="fade-up" data-aos-delay="200">
                    <div class="case-example-text">
                        ${{ worldflipper.introductionText }}$<br>
                        <br>
                        ${{ worldflipper.detail }}$
                    </div>
                    <div class="text-center" data-aos="fade-up" data-aos-delay="300">
                        <img src="<%= path %>assets/img/casestudy/worldflipper/tool_use_image2.png">
                    </div>
                </div>

                <div class="col-md-10 col-lg-10" data-aos="fade-up" data-aos-delay="200">
                    <h3>${{ worldflipper.animation }}$</h3>
                    <div class="text-center">
                        <video controls src="<%= path %>assets/img/casestudy/worldflipper/movie.mp4"></video>
                    </div>
                </div>

                <div class="col-md-10 col-lg-10 text-center">
                    <p>© Cygames, Inc. / Citail Inc.</p>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("../../_include/_footer", { "path": path }); %>