---
interface Props {
  lang: string;
  t: Record<string, any>;
}

const { lang, t } = Astro.props;
const basePath = import.meta.env.BASE_URL;
---

<footer class="footer" data-aos="fade-up">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-4">
        <div class="footer-logo">

          <a class="navbar-brand" href={`${basePath}${lang}`}>Next2D</a>
          <p>
            {t.footer?.description || 'Next2D Project'}<br>
            Created by Toshiyuki Ienaga.
          </p>

        </div>

        <div class="list-sns-menu">
          <ul class="list-unstyled">
            <li><a href="https://twitter.com/ienagatoshiyuki" target="_blank"><i class="bi bi-twitter"></i></a></li>
            <li><a href="https://github.com/ienaga" target="_blank"><i class="bi bi-github"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>{t.main?.player || 'Player'}</h4>

          <ul class="list-unstyled">
            <li><a href="https://github.com/Next2D/Player" target="_blank">GitHub</a></li>
            <li><a href={`${basePath}${lang}/reference/player`}>{t.main?.['reference-title'] || 'Reference'}</a></li>
            <li><a href={`${basePath}${lang}/#player`}>{t.main?.['features-title'] || 'Features'}</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>{t.main?.tool || 'Animation Tool'}</h4>

          <ul class="list-unstyled">
            <li><a href="https://tool.next2d.app" target="_blank">Web Site</a></li>
            <li><a href={`${basePath}${lang}/usage`}>{t.main?.['usage-title'] || 'Usage'}</a></li>
            <li><a href="https://www.youtube.com/channel/UCKWvYSKSa8huzkr9T6GAPUw/videos" target="_blank">YouTube</a></li>
            <li><a href="https://github.com/Next2D/tool.next2d.app/tree/develop" target="_blank">GitHub</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>{t.main?.framework || 'Framework'}</h4>

          <ul class="list-unstyled">
            <li><a href="https://github.com/Next2D/Framework" target="_blank">GitHub</a></li>
            <li><a href={`${basePath}${lang}/reference/framework`}>{t.main?.['reference-title'] || 'Reference'}</a></li>
            <li><a href={`${basePath}${lang}/#framework`}>{t.main?.['features-title'] || 'Features'}</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">
            <h4>{t.main?.['about-us'] || 'About Us'}</h4>

            <ul class="list-unstyled">
                <li><a href={`${basePath}${lang}/#contact`}>{t.main?.['contact-title'] || 'Contact'}</a></li>
                <li><a href={`${basePath}${lang}/privacy`}>{t.policy?.title || 'Privacy Policy'}</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="copyrights">
    <div class="container">
      <p>&copy; Copyrights Next2D. All rights reserved.</p>
    </div>
  </div>

</footer>
