<% const title = "Next2D Player | Pocket Reference Chapter 01"; %>
<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": title,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$">Home</a></li>
                    <li><a href="<%= path %>${{ main.lang }}$/reference/player">Reference</a></li>
                    <li>Chapter 01</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Reference List Section ======= -->
    <section id="references" class="reference-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-8 offset-md-2">
            <h2>${{ player-reference.chapter1.title }}$</h2>

            <h3>DisplayList</h3>
            <p>${{ player-reference.chapter1.text1 }}$</p>

            <h4>Stage</h4>
            <p>${{ player-reference.chapter1.text2 }}$</p>

            <h4>DisplayObjectContainer</h4>
            <p>${{ player-reference.chapter1.text3 }}$
              <ul>
                <li>Loader</li>
                <li>MovieClip</li>
                <li>Sprite</li>
                <li>Stage</li>
              </ul>
            </p>

            <h4>DisplayObject</h4>
            <p>${{ player-reference.chapter1.text4 }}$
              <ul>
                <li>DisplayObjectContainer</li>
                <li>Loader</li>
                <li>MovieClip</li>
                <li>Sprite</li>
                <li>Stage</li>
                <li>InteractiveObject</li>
                <li>Shape</li>
                <li>TextField</li>
                <li>Video</li>
              </ul>
            </p>

            <p class="tutorial-image"><img src="<%= path %>assets/img/tutorial/succession-relation.svg" alt="Inheritance Relationship Diagram"></p>

            <h4>Adding Objects</h4>
            <p>${{ player-reference.chapter1.text5 }}$</p>

            <h4>Example</h4>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 01" src="https://codepen.io/next2d/embed/OJxvVzO?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/OJxvVzO">
                  [Next2D Reference] Chapter 01</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <p class="next-chapter"><a class="float-end read-more" href="2.html">${{ main.next-chapter }}$</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>