<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": "player-reference.chapter16.title",
    "description": "player-reference.chapter16.text1",
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$/">Home</a></li>
                    <li><a href="<%= path %>${{ main.lang }}$/reference/player">${{ main.reference-title }}$</a></li>
                    <li>Chapter 16</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="references" class="reference-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-8 offset-md-2">
            <h2>${{ player-reference.chapter16.title }}$</h2>

            <h3>scale9Grid</h3>
            <p>${{ player-reference.chapter16.text1 }}$</p>
            <p class="tutorial-image"><img src="<%= path %>assets/img/reference/scale9Grid.svg" alt="scale9Grid image"></p>

            <p>
              <h4>${{ player-reference.chapter16.text2 }}$</h4>

              <ul>
                <li>
                  <h5>${{ player-reference.chapter16.text3 }}$</h5>
                  <p>${{ player-reference.chapter16.text4 }}$</p>
                </li>
                <li>
                  <h5>${{ player-reference.chapter16.text5 }}$</h5>
                  <p>${{ player-reference.chapter16.text6 }}$</p>
                </li>
                <li>
                  <h5>${{ player-reference.chapter16.text7 }}$</h5>
                  <p>${{ player-reference.chapter16.text8 }}$</p>
                </li>
                <li>
                  <h5>${{ player-reference.chapter16.text9 }}$</h5>
                  <p>${{ player-reference.chapter16.text10 }}$</p>
                </li>
              </ul>
            </p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 16" src="https://codepen.io/next2d/embed/LYzaBVx?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/LYzaBVx">
                  [Next2D Reference] Chapter 16</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <p class="next-chapter"><a class="float-end read-more" href="17.html">${{ main.next-chapter }}$</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>