<% const title = "Next2D Player | Pocket Reference Chapter 02"; %>
<% const path = "../../../"; %>
<%- include("../../_include/_header", {
    "title": title,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>${{ player-reference.chapter2.title }}$</h2>
                <ol>
                    <li><a href="<%= path %>${{ main.lang }}$">Home</a></li>
                    <li><a href="<%= path %>${{ main.lang }}$/reference/player">Reference</a></li>
                    <li>Chapter 02</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="references" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-8 offset-md-2">

            <h3>index</h3>
            <p>${{ player-reference.chapter2.text1 }}$</p>

            <h3>addChild</h3>
            <p>${{ player-reference.chapter2.text2 }}$</p>
            <p class="tutorial-image"><img src="<%= path %>assets/img/tutorial/addChild.svg" alt="addChild"></p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 02-1" src="https://codepen.io/next2d/embed/RwLMaKG?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/RwLMaKG">
                  [Next2D Reference] Chapter 02-1</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <h3>addChildAt</h3>
            <p>${{ player-reference.chapter2.text3 }}$</p>
            <p class="tutorial-image"><img src="<%= path %>assets/img/tutorial/addChildAt.svg" alt="addChildAt"></p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 02-2" src="https://codepen.io/next2d/embed/ExwEKmB?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/ExwEKmB">
                  [Next2D Reference] Chapter 02-2</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <h3>removeChild, removeChildAt</h3>
            <p>${{ player-reference.chapter2.text4 }}$</p>
            <p class="tutorial-image"><img src="<%= path %>assets/img/tutorial/removeChild.svg" alt="addChildAt"></p>

            <h5>Example</h5>
            <p class="example">
                <iframe height="400" style="width: 100%;" scrolling="no" title="[Next2D Reference] Chapter 02-3" src="https://codepen.io/next2d/embed/wvrmGpy?default-tab=js%2Cresult&editable=true&theme-id=dark" frameborder="no" loading="lazy" allowtransparency="true" allowfullscreen="true">
                  See the Pen <a href="https://codepen.io/next2d/pen/wvrmGpy">
                  [Next2D Reference] Chapter 02-3</a> by Next2D (<a href="https://codepen.io/next2d">@next2d</a>)
                  on <a href="https://codepen.io">CodePen</a>.
                </iframe>
            </p>

            <p class="next-chapter"><a class="float-end read-more" href="3.html">${{ main.next-chapter }}$</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../../_include/_footer", { "path": path }); %>