<% const title = "Next2D | Tutorial & Pocket Reference | Reference and change DisplayObject properties 'scaleX/scaleY'"; %>
<% const description = "Indicates the scaling ratio of the DisplayObject's width (scaleX) and height (scaleY). A value of 0.0 to 1.0 represents a scale of 0 to 100%; to scale a DisplayObject, assign a value to this property. To scale a DisplayObject, assign a value to this property. A negative value will flip the display object left to right or up and down."; %>
<% const path = "../"; %>

<%- include("../_include/_header", {
    "title": title,
    "description": description,
    "path": path
}); %>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Reference and change DisplayObject properties 'scaleX/scaleY'.</h2>
                <ol>
                    <li><a href="<%= path %>">Home</a></li>
                    <li><a href="<%= path %>tutorials">Tutorials</a></li>
                    <li>Day 09</li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Tutorial List Section ======= -->
    <section id="tutorials" class="padd-section">

      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 offset-md-3">

            <h3>scaleX/scaleY</h3>
            <p>Indicates the scaling ratio of the DisplayObject's width (scaleX) and height (scaleY). A value of 0.0 to 1.0 represents a scale of 0 to 100%; to scale a DisplayObject, assign a value to this property. To scale a DisplayObject, assign a value to this property. A negative value will flip the display object left to right or up and down.</p>
            <p class="tutorial-image"><img src="<%= path %>assets/img/tutorial/scale-xy.svg" alt="scale image"></p>

            <h5>Example</h5>
            <p><pre>const {Shape, BitmapData} = next2d.display;
const image = new Image();
image.src = "[[image path]]";

const bitmapData = new BitmapData();
bitmapData.image = image;

// scaleX 1.5
const shape1 = new Shape();
shape1
    .graphics
    .beginBitmapFill(bitmapData)
    .drawRect(0, 0, bitmapData.width, bitmapData.height);

shape1.scaleX = 1.5;

// scaleY 1.5
const shape2 = new Shape();
shape2
    .graphics
    .beginBitmapFill(bitmapData)
    .drawRect(0, 0, bitmapData.width, bitmapData.height);

shape2.scaleY = 1.5;

// scaleX ans scaleY 1.5
const shape3 = new Shape();
shape3
    .graphics
    .beginBitmapFill(bitmapData)
    .drawRect(0, 0, bitmapData.width, bitmapData.height);

shape3.scaleX = 1.5;
shape3.scaleY = 1.5;</pre></p>

            <p><a class="float-end read-more" href="10.html">next day</a></p>
          </div>
        </div>
      </div>
    </section><!-- End List Section -->

</main><!-- End #main -->

<%- include("../_include/_footer", { "path": path }); %>