---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/common/Header.astro';
import Footer from '../components/common/Footer.astro';

interface Props {
  title: string;
  description: string;
  lang: string;
  t: Record<string, any>;
}

const { title, description, lang, t } = Astro.props;
---
<BaseLayout title={title} description={description} lang={lang}>
  <Header lang={lang} t={t} />

  <main id="main">
    <slot />
  </main>

  <Footer lang={lang} t={t} />
</BaseLayout>
